extends ../layout

block content
  .ui.page.grid.stackable.segment
    .row
      .column
        h1.center.aligned.ui.header Welcome to IsItJesus?
        .ui.horizontal.divider
          i.heart.icon
        h2 To get started
        p Either click <a href="/auth/twitter">login</a> to sign in with your Twitter to post your own image of Jesus, or click <a href="/vote">vote</a> to start voting on other peoples submissions!