doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title IsItJesus ~ #{title}
    block css
      link(rel='stylesheet', href='/components/semantic-ui/build/packaged/css/semantic.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='http://localhost:35729/livereload.js')
      script(src='/components/jquery/dist/jquery.min.js')
      script(src='/components/filepicker/filepicker.min.js')
      script.
        filepicker.setKey('ApsLn8fiJSgmzI7jLj4rrz');
  body(id='home')
    .ui.inverted.page.grid.masthead.segment
      .column
        .inverted.secondary.pointing.ui.menu
          .header.item IsItJesus?
          .right.menu
            a(class= title === 'Vote' ? 'item active' : 'item', href='/vote') <i class="comment icon"></i> Vote
            if !user
              a(class='item', href='/auth/twitter') Login
            else
              a(class= title === 'Upload new entry' ? 'item active' : 'item', href='/upload') <i class="add icon"></i> Upload
              a(class= title === '#{user.name}' ? 'item active' : 'item', href='/profile') <i class="user icon"></i> #{user.name}
              a(class='item', href='/logout') <i class="sign out icon"></i> Logout
        block header
    block content
